<div class="modal-header">
  Going out?
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <nb-card-body>
    <ng-container *ngIf="image">
      <img class="image mx-auto d-block" [src]="image ? image : emoji" alt="Cat waving goodbye" />
    </ng-container>
    <!-- <ng-container *ngIf="!image">
      <p class="label">🙋‍♂️</p>
    </ng-container> -->
  </nb-card-body>
  <nb-card-footer class="d-block">
    <button mat-flat-button color="warn" class="float-left" (click)="closeModal()">No</button>
    <button mat-flat-button color="primary" class="float-right" (click)="logout()">Yes</button>
    <div class="clearfix"></div>
  </nb-card-footer>
</div>
<!-- <div class="modal-footer">
    <button type="botton" class="btn btn-danger" (click)="closeModal()">Close</button>
    <button type="botton" class="btn btn-danger" (click)="logout()">Close</button>
  </div> -->
