  <div class="modal-header">
    Add New Room
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="form">
    <div class="modal-body">
      <div class="row">

        <div class="col-md-4">
          <mat-form-field class="input-example">
            <mat-label>Room: </mat-label>
            <input matInput type="number" autocomplete="off" formControlName="room">
            <mat-error *ngIf="form?.get('room').touched && form.controls['room'].errors?.required">Room is
              <strong>required </strong> </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="clear"></div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="closeModal()">Close</button>
      <button type="submit" class="btn btn-primary" [disabled]="form?.invalid" (click)="addRoom(form)">
        <i class="far fa-address-card"></i> ADD
      </button>
    </div>
  </form>
