<div class="row">
  <div class="col-sm-12">
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
      <nb-card-header>
        <div class="action-groups-header" style="float: left; clear: both">
          Rooms Lists
        </div>
        <nb-actions size="medium" style="float: right; font-size: 10px;">
          <nb-action>
            <div class="input-group">
              <input type="search" #search class="form-control" [placeholder]="selectQueryString"
                [(ngModel)]="filterQuery">
              <div class="input-group-append">
                <span class="input-group-text pointer" [nbPopover]="filter" nbPopoverPlacement="bottom">
                  <i class="fas fa-filter"></i>
                </span>
              </div>
            </div>
          </nb-action>
          <nb-action icon="plus-square-outline" nbPopover="Add new room" nbPopoverTrigger="hint"
            nbPopoverPlacement="bottom" (click)="addRoom()"></nb-action>
          <nb-action icon="close-square-outline" (click)="auth.back()" nbPopover="Close" nbPopoverTrigger="hint"
            nbPopoverPlacement="right"></nb-action>
        </nb-actions>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-12">
            <div class="clear"></div>
            <table class="table" [mfData]="room | dataFilter : filterQuery: selectQuery" #mf="mfDataTable"
              [mfRowsOnPage]="10" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Room</th>
                  <th scope="col">Status</th>
                  <th scope="col" width="10%">Options</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let room of mf.data; let i = index">
                  <td scope="col">{{ i + 1 }}</td>
                  <td scope="col">{{ room.room }}</td>
                  <!-- <td scope="col">{{ user.status | titlecase}}</td> -->
                  <td scope="col">
                    <span class="pointer" (click)="changeRoomStatus(room)"
                      [ngClass]="{'active': room.status == 'active',  'inactive': room.status == 'inactive' }">{{ room.status | titlecase}}</span>
                  </td>

                  <td scope="col">
                    <div class="btn-group " dropdown placement="bottom right">
                      <i id="button-alignment" dropdownToggle class="fas fa-chevron-circle-down"
                        aria-controls="dropdown-alignment"></i>
                      <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                        aria-labelledby="button-alignment">
                        <li style="color:black" role="menuitem" class="dropdown-item pointer"
                          (click)="updateRoom(room)">
                          <nb-icon icon="edit-2" style="color: blue"></nb-icon> Update Room
                        </li>
                        <li style="color:black" role="menuitem" class="dropdown-item pointer"
                          (click)="deleteRoom(room)">
                          <nb-icon icon="trash-2-outline" style="color: red"></nb-icon> Delete Room
                        </li>
                      </ul>
                    </div>
                  </td>



                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="10">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,50,100]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<ng-template #filter nbPopoverTrigger="noop">
  <nb-card style="margin-bottom: 0">
    <nb-card-header>
      Search Filter:
    </nb-card-header>
    <nb-list>
      <nb-list-item class="pointer" (click)="selectFilter('room', 'Room')">Room</nb-list-item>
      <nb-list-item class="pointer" (click)="selectFilter('status', 'Status')">Status</nb-list-item>
    </nb-list>
  </nb-card>
</ng-template>


<!--   -->
