<div class="header-container">
  <div class="logo-container">
    <a href="#" class="sidebar-toggle" matRipple [matRippleUnbounded]="true" [matRippleCentered]="true"
      (click)="toggleSidebar()">
      <nb-icon [icon]="(materialTheme$ | async) ? 'menu-outline' : 'menu-2-outline'"></nb-icon>
    </a>
    <!-- <img src="../../assets//images/chsmc.png" class="tinker-logo"> -->
    <a class="logo" href="#" (click)="navigateHome()"> <img style="width:39%" src="../../assets//images/scam.png"
        class="chmsc-logo">
    </a>
  </div>
</div>
<div class="header-container">
  <nb-actions size="small">
    <nb-action class="user-action" [nbContextMenu]="userMenu" *nbIsGranted="['view', 'user']" matRipple>
      <!-- <nb-user [nbContextMenu]="userMenu" nbSpinnerStatus="success" [name]="auth?.getTokenUsername()"
        [onlyPicture]="userPictureOnly" [picture]="this.auth.domain + '/images/' + (auth?.avatar || 'user1.jpg')">
      </nb-user> -->
      <span class="i-circle"> {{ myName[0]  | titlecase}}</span>{{restName}}
    </nb-action>
  </nb-actions>
</div>
