<nb-card>
  <nb-card-header>
    Add a Category
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </nb-card-header>
  <nb-card-body [nbSpinner]="loading" nbSpinnerStatus="success" [formGroup]="form">
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="input-example">
          <mat-label>Add a Category:</mat-label>
          <input matInput autocomplete="off" formControlName="category" required />
          <mat-error *ngIf="form.get('category').touched && form.controls['category'].errors?.required">Category is
            required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12" *ngIf="category.length > 0">
        <hr />
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Category Name</th>
              <th>Option</th>
            </tr>
          </thead>
          <tbody *ngFor="let type of category; let i = index">
            <td>{{ type?.category_name | titlecase }}</td>
            <td>
              <i class="fas fa-pencil-alt pointer" (click)="edit(type)"></i>&nbsp;
              <i class="far fa-trash-alt pointer" (click)="deletes(type)"></i>
            </td>
          </tbody>
        </table>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer class="aright">
    <button nbButton matRipple hero status="danger" (click)="closeModal()">Close</button>
    &nbsp;
    <button nbButton matRipple hero status="primary" [disabled]="form?.invalid" (click)="save(form)">Save</button>
  </nb-card-footer>
</nb-card>
